.bg-primary {
    background-color: #2121de !important;
}

.navbar.navbar-transparent {
    background-color: transparent !important;
}

.pac-man-text {
    font-family: 'PressStart2P';
    top: 0.1em;
    left: 0.1em;
    position: relative;
}
