.separator.separator-primary {
    background-color: #2121de !important;
}

.description {
    color: black !important;
}

.blockquote.blockquote-primary {
    border-color: #2121de;
    color: #2121de;

    small {
        color: #2121de;
    }
}